name: "Testbed CI/CD"

on:
  push:
    branches:
      - master
  pull_request: ~
  schedule:
    - cron: '0 5 * * *' # Build every day at 5am
  workflow_dispatch:

jobs:
  test:
    name: "Run Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Java Environment
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Test
        run: ./gradlew :testbed:test
  
  build-deploy:
    name: "Build and deploy fat jar for testbed"
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}
    needs: test
    steps:
      - uses: actions/checkout@v3

      - name: Set up Java Environment
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Build fat jar
        run: ./gradlew :testbed:shadowJar

      - name: Upload fat jar
        uses: actions/upload-artifact@v3
        with:
          name: testbed-artifact
          path: testbed/build/libs/testbed-*.jar
          retention-days: 30
